.git
.env
__pycache__
*.pyc
node_modules
vendor
dist
build
.cache
assets
src
asides
dashboards
layouts
pages
toolbars
widgets
utilities
account
apps
authentication
index.html
landing.html
code_dumper*.py
*.db
*.sqlite
*.zip
